* {
    padding: 0;
    margin: 0;
}


body {
    background-image: url("")
}


header {
    color: ;
}

hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
}


nav ul {
    list-style: none;
}


.image {
    width: 100%;
}


.content {
    position: relative;
    display: grid;
    place-items: center;

    /*    
    width: 100%;
    height: auto;
    background-color: aqua;*/
}


.text-div {
    position: absolute;
    justify-content: center;
    /* 
    top: 50%;
    left: 50%;
    right: ;
    background-color: coral;
    */
}


.buttons {
    position: absolute;
}

.main-text {
    font-size: 30px;
    color: firebrick;
}


.sub-text {
    font-size: 20px;
}

button {
    height: 40px;
    width: 40px;
    color: cornflowerblue;
    background-color: cornflowerblue;
    margin-right: 2rem;
}
