* {
    margin: 0%;
    padding: 0%;
}


body {
    ;
}

img {
    height: 45px;
    width: 50px;
}

.section-one {
    background-color: #242943;
    color: #ffffff;
}

.section-two {
    display: grid;
    grid-template-columns: 5fr 7fr;
    grid-template-rows: 8fr;
}

.section-two .left {
    background-color: skyblue;
    background-image: url(/project_45_Forty_pic1.jpg)
}


.section-two .right {
    background-color: #8d82c4;
    background-image: url(/project_45_Forty_pic2.jpg)
}


.section-three {
    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-template-rows: auto;
}

.section-three .left {
    background-color: peachpuff;
    background-image: url(/project_45_Forty_pic3.jpg)
}


.section-three .right {
    background-color: goldenrod;
    background-image: url(/project_45_Forty_pic4.jpg)
}


.section-four {
    display: grid;
    grid-template-columns: 5fr 7fr;
    grid-template-rows: auto;
}


.section-four .left {
    background-color: plum;
    background-image: url(/project_45_Forty_pic5.jpg)
}


.section-four .right {
    background-color: greenyellow;
    background-image: url(/project_45_Forty_pic6.jpg)
}

.section-five {
    background-color: #242943;
    color: #ffffff;
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-template-rows: auto;
}



.section-five .left {
    background-color: plum;
}


.section-five .right {
    background-color: greenyellow;
}

.section-six {
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-template-rows: auto;
}


.section-six .left {
    background-color: plum;
}


.section-six .right {
    background-color: greenyellow;
}



.footer {
    background-color: #242943;
}

