body {
    background-color: aqua;
    font-family: 'Dokdo', cursive;
}

.bday-text {
    padding-top: 30px;
    font-size: 80px;
    font-weight: 800;
    color: #C3304A;
}

.bday-msg-heading {
    padding-top: 30px;
    font-size: 60px;
    font-weight: 800;
    color: #C3304A;
}

.bday-msg {
    font-size: 40px;
    font-weight: 800;
    color: #C3304A;
}