* {
    padding: 0;
    margin: 0;
}


body {
    background-image: url("")
}


header {
    color: ;
}

hr {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

nav ul {
    list-style: none;
}


.image {
    width: 100%;
}


.content {
    position: relative;
    display: grid;
    place-items: center;
    /*    
    width: 100%;
    height: auto;
    background-color: aqua;*/
}


.text-div {
    position: absolute;

    /* 
    top: 50%;
    left: 50%;
    right: ;
    background-color: coral;
    */
}


.buttons {
    position: absolute;
}

.main-text {
    font-size: 25px;
}


.sub-text {
    font-size: 20px;
}
