* {
    margin: 0;
    padding: 0;
}


header {
    ;
}


body {
    ;
}


.girl-pic {
    width: 100%;
    height: 35rem;
}


.full-container {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-template-rows: auto;
}


.left {
    background-color: teal;
    text-align: center;
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
}



.right {
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
}


.right p {
    max-width: 25rem;
}
