* {
    padding: 0;
    margin: 0;
}

form {
    grid-area: "sign-up"
}

button {
    font-size: 20px;
    background-color: #639A4E;
    color: #FFFFFF;
    border-radius: 3px;
    width: 8em;
    height: 2em;
}

hr {
    margin-top: 5px;
    width: 30em;
    margin-bottom: 10px;
}

select {
    height: 30px;
    width: 60px;
}

i {
    color: #ADB9D3;
    height: 20px;
    width: 20px;
}

.login-button {
    background-color: #365899;
    color: #FFFFFF;
}

.terms {
    font-size: 12px;
    color: #777777;
}

.terms span {
    color: #3A5998;
}

.facelook {
    font-size: 40px;
    font-weight: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Merriweather Sans', sans-serif;
    grid-area: "logo";
    margin-left: 140px;
}

.bold-text {
    font-weight: bold;
}

.white-text {
    color: #FFFFFF;
    font-size: 18px;
}

.forgot-account {
    grid-area: "sign-up";
    color: #FFFFFF;
    justify-items: end;
}

.sign-up-text {
    font-family: "Freight Sans Bold", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #333333;
    margin-top: 25px;
}

.free {
    font-size: 20px;
    font-family: "Freight Sans, Helvetica, Arial, sans-serif";
    font-style: normal;
}

.header {
    background-color: #3A5998;
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo""sign-up"
}

.description {}

.description p {
    margin-top: 40px;
}

.connect {
    margin-top: 10px;
    margin-bottom: 15px;
}

.details input {
    height: 30px;
    width: 180px;
    border: 1px solid #BCC7D7;
    border-radius: 3px;
}

.signup * {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    background-color: #EDF0F4;
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-template-rows: auto;
    justify-items: center;
}

.footer {
    display: grid;
    background-color: #FFFFFF;
    justify-items: center;
    margin-top: 20px;
}

.footer hr {
    margin: 10px;
    width: 1000px;
}

.footer-ads {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template: repeat(auto, 1fr);
    justify-content: center;
    align-content: center;
}

.footer a {
    margin-top: 5px;
    color: #365899;
}

.languages {
    margin-top: 20px;
}

.languages a {
    margin-right: 10px;
    color: #365899;
}


/*
.signup {
    display: grid;
    grid-template-columns: repeat(1fr 1fr);
    grid-template-rows: repeat(1fr);
}

.header-login {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template: 1fr;
    grid-template-areas: "email""password""email-input""pw-input""login-button". "forgot-pw"
}

.header-email {
    grid-area: "email"
}

.header-password {
    grid-area: "password"
}
*/