* {
    margin: 0%;
    padding: 0%;
}

body {
    background: linear-gradient(110.42420473239838deg, rgba(229, 221, 204, 1) 6.140625%, rgba(113, 190, 194, 1) 95.51562499999999%);
}

h1 {
    margin-top: 2rem;
    text-align: center;
}

img {
    margin-top: 2rem;
    width: 100%;
    border-radius: 1rem;
}

.social-media {
    text-align: center;
    font-size: 2rem;
}

.social-media * {
    margin-right: 1rem;
}