Rules of the 100 Days Of Code Challenge


Main Commitment
I will code for at least an hour every day for the next 100 days.
I will post the code to this GitHub Repo through the terminal
I will make ABSOLUTELY NO EXCUSES
I will take ABSOLUTELY NO DAYS OFF


Pledge:
"I Franchet hereby accept and commit to the #100DaysOfCodeChallenge and I will make no excuses nor exceptions to the rules"

Start Date:
February 25, 2019 (Monday)


End Date:
June 5th 2019 (Wednesday)



Additional Rules
I will tweet about my progress every day -> using the hashtag #100DaysOfCode
I will push the code to GitHub every day so that anyone can see my progress.
I will update the (Log) with the day's progress.
I will work on real projects, facing real challenges. The time spent doing tutorials, online courses and other similar resources will NOT count towards this challenge.
